<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!--<servlet>-->
        <!--<servlet-name>online.shashki.rus ProfileRpcService</servlet-name>-->
        <!--<servlet-class>online.shashki.rus.server.server.service.ProfileRpcServiceImpl</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>online.shashki.rus GameRpcMessageService</servlet-name>-->
        <!--<servlet-class>online.shashki.rus.server.server.service.GameMessageRpcServiceImpl</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>online.shashki.rus GameRpcService</servlet-name>-->
        <!--<servlet-class>online.shashki.rus.server.server.service.GameRpcServiceImpl</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>online.shashki.rus ProfileRpcService</servlet-name>-->
        <!--<url-pattern>/Application/ProfileRpcService</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>online.shashki.rus GameRpcMessageService</servlet-name>-->
        <!--<url-pattern>/Application/GameMessageRpcService</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>online.shashki.rus GameRpcService</servlet-name>-->
        <!--<url-pattern>/Application/GameRpcService</url-pattern>-->
    <!--</servlet-mapping>-->

    <listener>
        <listener-class>online.shashki.rus.server.guice.GuiceServletConfig</listener-class>
    </listener>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
